.contenidoGuia{
    margin-left: 5%;
    border: solid 2px #000;
    border-radius: 10px;
    width: 360px;
    height: 180px;
}

.tituloCont{
    margin-left: 10px;
    font-size: 24px;
}

.indexCont{
    margin-left: 20px;
    font-size: 20px
}

.contenidoGuia a{
    color: #000;
    text-decoration: none;
}
.contenidoGuia a:hover{
    color: #af0000;
    
}

.titulos{
    font-size: 40px;
    color: #be0000;
}