.footer {
    width: 100%;
    margin-top: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
}

.footer ul li {
    color: #e0e0e0;
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    margin-left: 30px;
    list-style: none;
}

.footer ul li a {
    color: #ececec;
    text-decoration: none;
    transition: all 0.4s;
}

.footer ul li a:hover {
    color: #3f94e4;
    transition: all 0.3s;
}