/**/

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #fff
}

.header img {
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}