    /**/
    
    .videoUwU {
        width: 100%;
        height: 100%;
    }
    
    .sinopsisDatos {
        width: 70%;
        height: 240px;
        border: solid 2px #00326b;
        padding: 4px;
        margin-left: 15%;
    }